{% extends "base.html.twig" %}

{% block body %}
    <h1>Hello from Rennes</h1>


    <p class="">It's currently {{ 'now'|date('h:i A') }}</p>

       <footer>
    <p class="">
        &copy; copyright {{ 'now'|date('Y') }} &middot; 
        <a href="#" class="">About us</a> &middot; 
        <a href="#" class="">Help</a>  
    </p>
</footer>
{% endblock %}